* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{

    border: 2px solid black;
    /* padding: 20px; */

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1/1; /* Гарантирует квадратную форму */
    width: 80vmin; /* 80% от меньшей из сторон (ширины или высоты) */
    max-width: 600px; /* Ограничение максимального размера */
    margin: 0 auto;
}

.square{
    user-select: none;

    background-size: cover; /* или contain, в зависимости от нужного эффекта */
    background-position: center;
    background-repeat: no-repeat;
}

.selected {
    border: 2px solid black;
}

.board div:nth-child(16n + 1),
.board div:nth-child(16n + 3),
.board div:nth-child(16n + 5),
.board div:nth-child(16n + 7),
.board div:nth-child(16n + 10),
.board div:nth-child(16n + 12),
.board div:nth-child(16n + 14),
.board div:nth-child(16n + 16) {
  background-color: #eeeed2;
}

.board div:nth-child(16n + 2),
.board div:nth-child(16n + 4),
.board div:nth-child(16n + 6),
.board div:nth-child(16n + 8),
.board div:nth-child(16n + 9),
.board div:nth-child(16n + 11),
.board div:nth-child(16n + 13),
.board div:nth-child(16n + 15) {
  background-color: #769656; /* или white */
}


.logs {
    width: 180px;
    max-height: 200px;
    overflow: auto;
}








/* ============= */

.black_bishop {
    background-image: url("pngs/black_bishop.png");
    cursor: pointer;
}

.black_king {
    background-image: url("pngs/black_king.png");
    cursor: pointer;
}

.black_knight {
    background-image: url("pngs/black_knight.png");
    cursor: pointer;
}

.black_pawn {
    background-image: url("pngs/black_pawn.png");
    cursor: pointer;
}

.black_queen {
    background-image: url("pngs/black_queen.png");
    cursor: pointer;
}

.black_rook {
    background-image: url("pngs/black_rook.png");
    cursor: pointer;
}

.white_bishop {
    background-image: url("pngs/white_bishop.png");
    cursor: pointer;
}

.white_king {
    background-image: url("pngs/white_king.png");
    cursor: pointer;
}

.white_knight {
    background-image: url("pngs/white_knight.png");
    cursor: pointer;
}

.white_pawn {
    background-image: url("pngs/white_pawn.png");
    cursor: pointer;
}

.white_queen {
    background-image: url("pngs/white_queen.png");
    cursor: pointer;
}

.white_rook {
    background-image: url("pngs/white_rook.png");
    cursor: pointer;
}